body {
  background-color: rgb(37, 37, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 1em 0.25em 0.25em 0.25em;
}

img {
  max-width: 40%;
  margin: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
  width: 75%;
  border-radius: 2em;
  margin: 2em;
}

.slidecontainer {
  width: 50%;
  /* Width of the outside container */
  border-left: .5em solid rgb(0, 64, 255);
  border-right: .25em solid blue;
}

/* The slider itself */
.slider {
  z-index: 0;
  position: absolute;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: inherit;
  /* Full-width */
  height: 25px;
  /* Specified height */
  opacity: 0;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  z-index: 2;
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.rangefill {
  z-index: 2;
  position: inherit;
  height: 25px;
  background: rgb(0, 64, 255);
  width: 10px;
  transition-property: width;
    transition-delay: 0.0s;
    transition-duration: 1s;
}

.phoneNumbers {
  display: flex;
}

button {
  margin: 0.5em;
  background-color: blue;
  color: white;
  padding: 0.5em;
  font-size: 18px;
}

/* The Modal (background) */
.confirm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}